:root {
    color-scheme: light dark;
  }

  *,
  *::before,
  *::after {

    box-sizing: border-box;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 36px;
    grid-template-rows: 1fr;
  }

  #chat {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 350px;
    height: 100%;
    
    display: grid;
    grid-template-rows: auto max-content;
  }

  #form {
    display: flex;
    height: 48px;
    padding: 4px;
    
  }

  #input {
    border-radius: 24px;
    border: 1px solid #eee;
    /* ocupa todo el espacio posible */
    flex: 1;
    margin: 4px;
    padding: 0 8px;
  }

  #input:focus {
    outline: 0;
  }

  #form>button {
    background-color: #09f;
    color: #fff;
    border: 0;
    margin: 4px;
    border-radius: 4px;

  }

  #form>button:hover {
    background-color: #0cf;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
   

  }

  #messages > li {
    padding: .5rem 1rem;
  }

  #messages>li:nth-child(odd) {
    background-color: #000;
  }

  #messages > li > p {
    overflow-wrap: break-word;
  }